body {
    font-family: Raleway,sans-serif;
    font-size: 14px;
    line-height: 1.6;
    color: #333;
    background-color: #f5f8fa;
}
input, select, .btn.dropdown-toggle{
    color: #333;
    background-color: #fff;
    border-color: #7C7C7C !important;
}
.control-label{font-weight: bold;}
.group-headline{font-weight: bold;font-size:15px;margin-bottom: 6px;}
.asteriskField{color:red;font-weight: bold;}
.small-font{font-size:8px;}
.required-star:after{color: red;content: " *";}
label.error{
    color: red;
    display: inline-block;
    font-weight: normal;
    max-width: initial;
    margin: 0;
}
input.error{border:1px solid red;}